spring:
  datasource:
    url: jdbc:h2:mem:monopolydb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create   # auto-generate tables from entities
    show-sql: true        # log SQL in console
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: debug
